In [1]:
import pandas as pd

In [2]:
movies, ratings = pd.read_csv('movies.csv', sep=','), pd.read_csv('ratings.csv', sep=',')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [28]:
ratings_count = ratings.groupby('movieId').count().loc[ratings['rating'] == 5.0].sort_values('rating', ascending=False).head(1)
ratings_count = ratings_count.reset_index(level='movieId')
ratings_count

   movieId  userId  rating  timestamp
0     1270   49595   49595      49595

In [37]:
print('Фильм, на который оставили больше всего отзывов с рейтингов 5.0:', movies['title'].loc[movies['movieId'] == ratings_count['movieId'][0]])

Фильм, на который оставили больше всего отзывов с рейтингов 5.0: 1237    Back to the Future (1985)
Name: title, dtype: object