In [1]:
import pandas as pd

In [2]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [3]:
def baltic(country):
    
    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'Прибалтика'
    
    return 'Other'

In [6]:
power['baltic'] = power.country.apply(baltic)
#power.baltic.value_counts()
power.head()

   country  year  quantity  category baltic
0  Austria  1996       5.0         1  Other
1  Austria  1995      17.0         1  Other
2  Belgium  2014       0.0         1  Other
3  Belgium  2013       0.0         1  Other
4  Belgium  2012      35.0         1  Other

In [23]:
print('В период с 2005 по 2010 год в странах Прибалтики было потрачено следующее кол-во электроэнергии:',
      power['quantity'].loc[(2005 <= power['year']) & (power['year'] <= 2010) & (power['baltic'] == 'Прибалтика') & (power['quantity'] >= 0)].sum())

В период с 2005 по 2010 год в странах Прибалтики было потрачено следующее кол-во электроэнергии: 26034247.620774537