In [1]:
import pandas as pd

In [7]:
data = pd.read_html('https://fortrader.org/quotes')[2]
data

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 853     -29.00         -2.00        NaN
1  Серебро Цена на серебро на бирже  27.57      -0.26         -0.92        NaN
2         Палладий Цена на Палладий  2 761     -19.00         -1.00        NaN
3           Платина Цены на платину  1 159      14.00          1.00        NaN
4           Медь Цена меди на бирже   4.52      -0.04         -0.95        NaN