In [12]:
import pandas as pd

In [13]:
kw = pd.read_csv('keywords.csv', sep=',')
kw.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [14]:
def geo(search):
    if ('москва' or 'тула' or 'ярославль') in search:
        return 'Центр'
    
    elif ('петербург' or 'псков' or 'мурманск') in search:
        return 'Северо-Запад'
    
    elif ('владивосток' or 'сахалин' or 'хабаровск') in search:
        return 'Дальний Восток'
    
    else:
        return 'Undefined'

In [15]:
kw['region'] = kw['keyword'].apply(geo)
kw.groupby('region').count()

                keyword  shows
region
Undefined         99462  99462
Дальний Восток       43     43
Северо-Запад        211    211
Центр               284    284

In [16]:
kw.head()

         keyword     shows     region
0             вк  64292779  Undefined
1  одноклассники  63810309  Undefined
2          порно  41747114  Undefined
3           ютуб  39995567  Undefined
4      вконтакте  21014195  Undefined